<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="Header"           class="ru.terralink.model.REDataExchangeHeader"/>
       <bean id="OBJECT_REFS"      class="ru.terralink.model.REDataExchangeAttrECD.OBJECT_REFS"/>
       <bean id="PARTNER_REFS"     class="ru.terralink.model.REDataExchangeAttrECD.PARTNER_REFS"/>
       <bean id="GENERAL"          class="ru.terralink.model.REDataExchangeAttrECD.GENERAL"/>
       <bean id="CONTRACT"         class="ru.terralink.model.REDataExchangeAttrECD.CONTRACT"/>
       <bean id="FINDOC"           class="ru.terralink.model.REDataExchangeAttrECD.FINDOC"/>
       <bean id="LETTERS"          class="ru.terralink.model.REDataExchangeAttrECD.LETTERS"/>
       <bean id="ANY"              class="ru.terralink.model.REDataExchangeAttrECD.ANY"/>
       <bean id="ACTS"             class="ru.terralink.model.REDataExchangeAttrECD.ACTS"/>
       <bean id="KPD"              class="ru.terralink.model.REDataExchangeAttrECD.KPD"/>
       <bean id="DFV"              class="ru.terralink.model.REDataExchangeAttrECD.DFV"/>
       <bean id="NNA"              class="ru.terralink.model.REDataExchangeAttrECD.NNA"/>
       <bean id="CCC"              class="ru.terralink.model.REDataExchangeAttrECD.CCC"/>
       <bean id="BONIA"            class="ru.terralink.model.REDataExchangeAttrECD.BONIA"/>
       <bean id="AttrFile"         class="ru.terralink.model.REDataExchangeAttrFile"/>

</beans>